.titolo {
    background-image: url(../img/pexels-aleksandar-pasaric-325185.jpg);
    background-position: left;
    height: 500px;
    width: 100%;
}

$font-base: 16px;
$padding-gen: 15px 15px;
$colore-primo: rgba(116, 49, 249, 255);


@mixin large {
    @media screen and (min-width: 992px){
        @content
    }
}

body {
    font-size: $font-base;
    @include large {
        font-size: $font-base * 1.3;
    }
}

@mixin bg-color-base {
    background-color: $colore-primo;
    color: white;
}

nav {
    @include bg-color-base;
}

#button {
    @include bg-color-base;
    border: transparent;
}

footer {
    @include bg-color-base;
    .row div:not(:first-child) {
    @include large {
        color: set-color-txt(hsl(0, 0, 100%));
     }}
}

#box {
    background-color: rgba(245, 245, 245, 255);
}

img {
    width: 100px;
}
